/* Write your CSS Here. */
body {
  background-color: rgb(65, 65, 65);
}

#heading {
  color: rgb(225, 225, 225);
  font-family: "Audiowide", cursive;
  font-size: 50px;
}

td {
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-image: linear-gradient(
    135deg,
    rgb(208, 208, 208),
    rgb(177, 177, 177),
    rgb(121, 121, 121)
  );
}

#game-container {
  text-align: center;
}

#game-board {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(244, 224, 3);
  box-shadow: 0px 10px 10px black;
}

#btn-start {
  padding: 10px;
  width: 150px;
  font-size: 20px;
  box-shadow: 0px 5px 5px black;
  margin-bottom: 10px;
  font-family: "Orbitron", sans-serif;
}

.btn-slot {
  background-image: radial-gradient(
    rgb(114, 114, 114),
    rgb(114, 114, 114),
    rgb(48, 48, 48)
  );
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 0px solid;
  margin: -1px;
}

.hidden {
  display: none;
}

.black-turn:hover {
  background-image: radial-gradient(
    rgb(73, 73, 73),
    rgb(59, 59, 59),
    black,
    white
  );
}

/* MUST BE UNDER black-turn */
.red-turn:hover {
  background-image: radial-gradient(red, red, black);
}

.red-move {
  background-image: radial-gradient(red, red, black);
}

.black-move {
  background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
}
/* Black animation classes */
.ball-one-black {
  position: relative;
  animation-name: ball-bounce-one-black;
  animation-duration: 0.4s;
}
.ball-two-black {
  position: relative;
  animation-name: ball-bounce-two-black;
  animation-duration: 0.36s;
}
.ball-three-black {
  position: relative;
  animation-name: ball-bounce-three-black;
  animation-duration: 0.32s;
}
.ball-four-black {
  position: relative;
  animation-name: ball-bounce-four-black;
  animation-duration: 0.28s;
}
.ball-five-black {
  position: relative;
  animation-name: ball-bounce-five-black;
  animation-duration: 0.24s;
}
.ball-six-black {
  position: relative;
  animation-name: ball-bounce-top-black;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes ball-bounce-one-black {
  0% {
    top: 0;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  32% {
    top: 493px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  60% {
    top: 335.24px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  82% {
    top: 493px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  85% {
    top: 443.7px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  90% {
    top: 493;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  95% {
    top: 473.28px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  100% {
    top: 493px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
}
@keyframes ball-bounce-two-black {
  0% {
    top: 0px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  32% {
    top: 414px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  60% {
    top: 281.52px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  82% {
    top: 414px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  85% {
    top: 372.6px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  90% {
    top: 414px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  95% {
    top: 397.44px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  100% {
    top: 414px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
}
@keyframes ball-bounce-three-black {
  0% {
    top: 0px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  32% {
    top: 335px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  60% {
    top: 227.8px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  82% {
    top: 335px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  85% {
    top: 301.5px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  90% {
    top: 335px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  95% {
    top: 321.6px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  100% {
    top: 335px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
}
@keyframes ball-bounce-four-black {
  0% {
    top: 0px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  32% {
    top: 256px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  60% {
    top: 174.08px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  82% {
    top: 256px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  85% {
    top: 230.4px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  90% {
    top: 256px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  95% {
    top: 245.76px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  100% {
    top: 256px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
}
@keyframes ball-bounce-five-black {
  0% {
    top: 0px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  32% {
    top: 177px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  60% {
    top: 120.36px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  82% {
    top: 177px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  85% {
    top: 159.3px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  90% {
    top: 177px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  95% {
    top: 169.92px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  100% {
    top: 177px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
}
@keyframes ball-bounce-top-black {
  0% {
    top: 0px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  32% {
    top: 98px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  60% {
    top: 66.64px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  82% {
    top: 98px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  85% {
    top: 88.2px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  90% {
    top: 98px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  95% {
    top: 94.08px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
  100% {
    top: 98px;

    background-image: radial-gradient(rgb(73, 73, 73), rgb(59, 59, 59), black);
  }
}

/* Red animation classes */
.ball-one-red {
  position: relative;
  animation-name: ball-bounce-one-red;
  animation-duration: 0.4s;
}
.ball-two-red {
  position: relative;
  animation-name: ball-bounce-two-red;
  animation-duration: 0.36s;
}
.ball-three-red {
  position: relative;
  animation-name: ball-bounce-three-red;
  animation-duration: 0.32s;
}
.ball-four-red {
  position: relative;
  animation-name: ball-bounce-four-red;
  animation-duration: 0.28s;
}
.ball-five-red {
  position: relative;
  animation-name: ball-bounce-five-red;
  animation-duration: 0.24s;
}
.ball-six-red {
  position: relative;
  animation-name: ball-bounce-top-red;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes ball-bounce-one-red {
  0% {
    top: 0;

    background-image: radial-gradient(red, red, black);
  }
  32% {
    top: 493px;

    background-image: radial-gradient(red, red, black);
  }
  60% {
    top: 335.24px;

    background-image: radial-gradient(red, red, black);
  }
  82% {
    top: 493px;

    background-image: radial-gradient(red, red, black);
  }
  85% {
    top: 443.7px;

    background-image: radial-gradient(red, red, black);
  }
  90% {
    top: 493;

    background-image: radial-gradient(red, red, black);
  }
  95% {
    top: 473.28px;

    background-image: radial-gradient(red, red, black);
  }
  100% {
    top: 493px;

    background-image: radial-gradient(red, red, black);
  }
}
@keyframes ball-bounce-two-red {
  0% {
    top: 0px;

    background-image: radial-gradient(red, red, black);
  }
  32% {
    top: 414px;

    background-image: radial-gradient(red, red, black);
  }
  60% {
    top: 281.52px;

    background-image: radial-gradient(red, red, black);
  }
  82% {
    top: 414px;

    background-image: radial-gradient(red, red, black);
  }
  85% {
    top: 372.6px;

    background-image: radial-gradient(red, red, black);
  }
  90% {
    top: 414px;

    background-image: radial-gradient(red, red, black);
  }
  95% {
    top: 397.44px;

    background-image: radial-gradient(red, red, black);
  }
  100% {
    top: 414px;

    background-image: radial-gradient(red, red, black);
  }
}
@keyframes ball-bounce-three-red {
  0% {
    top: 0px;

    background-image: radial-gradient(red, red, black);
  }
  32% {
    top: 335px;

    background-image: radial-gradient(red, red, black);
  }
  60% {
    top: 227.8px;

    background-image: radial-gradient(red, red, black);
  }
  82% {
    top: 335px;

    background-image: radial-gradient(red, red, black);
  }
  85% {
    top: 301.5px;

    background-image: radial-gradient(red, red, black);
  }
  90% {
    top: 335px;

    background-image: radial-gradient(red, red, black);
  }
  95% {
    top: 321.6px;

    background-image: radial-gradient(red, red, black);
  }
  100% {
    top: 335px;

    background-image: radial-gradient(red, red, black);
  }
}
@keyframes ball-bounce-four-red {
  0% {
    top: 0px;

    background-image: radial-gradient(red, red, black);
  }
  32% {
    top: 256px;

    background-image: radial-gradient(red, red, black);
  }
  60% {
    top: 174.08px;

    background-image: radial-gradient(red, red, black);
  }
  82% {
    top: 256px;

    background-image: radial-gradient(red, red, black);
  }
  85% {
    top: 230.4px;

    background-image: radial-gradient(red, red, black);
  }
  90% {
    top: 256px;

    background-image: radial-gradient(red, red, black);
  }
  95% {
    top: 245.76px;

    background-image: radial-gradient(red, red, black);
  }
  100% {
    top: 256px;

    background-image: radial-gradient(red, red, black);
  }
}
@keyframes ball-bounce-five-red {
  0% {
    top: 0px;

    background-image: radial-gradient(red, red, black);
  }
  32% {
    top: 177px;

    background-image: radial-gradient(red, red, black);
  }
  60% {
    top: 120.36px;

    background-image: radial-gradient(red, red, black);
  }
  82% {
    top: 177px;

    background-image: radial-gradient(red, red, black);
  }
  85% {
    top: 159.3px;

    background-image: radial-gradient(red, red, black);
  }
  90% {
    top: 177px;

    background-image: radial-gradient(red, red, black);
  }
  95% {
    top: 169.92px;

    background-image: radial-gradient(red, red, black);
  }
  100% {
    top: 177px;

    background-image: radial-gradient(red, red, black);
  }
}
@keyframes ball-bounce-top-red {
  0% {
    top: 0px;

    background-image: radial-gradient(red, red, black);
  }
  32% {
    top: 98px;

    background-image: radial-gradient(red, red, black);
  }
  60% {
    top: 66.64px;

    background-image: radial-gradient(red, red, black);
  }
  82% {
    top: 98px;

    background-image: radial-gradient(red, red, black);
  }
  85% {
    top: 88.2px;

    background-image: radial-gradient(red, red, black);
  }
  90% {
    top: 98px;

    background-image: radial-gradient(red, red, black);
  }
  95% {
    top: 94.08px;

    background-image: radial-gradient(red, red, black);
  }
  100% {
    top: 98px;

    background-image: radial-gradient(red, red, black);
  }
}
